.app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-field,
.spinner {
    justify-self: flex-end;
    margin-left: auto;
    min-width: 180px;
}