.profileSettings {
    position: absolute;
    right: 8px;
    bottom: calc(var(--player-height) + 10px);
    background-color: var(--background-tertiary);
    border: 1px solid var(--border-on-tertiary);
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.margin {
    margin-bottom: 8px;
}