.profileSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 9pt;
    line-height: 9pt;
    font-weight: 600;
    color: var(--text-disabled);
    user-select: none;
    cursor: pointer;
}

.profileSelector:hover {
    color: var(--text-primary);
}

.profileSelector:hover svg {
    fill: var(--text-primary);
}