.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.settings {
    width: clamp(900px, 90vw, 1000px);
    height: clamp(500px, 90vh, 90vh);
    background-color: var(--background-primary);
    border: 1px solid var(--border-on-primary);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100%;
    background-color: var(--background-tertiary);
    overflow-y: auto;
    padding: var(--padding);
}

.contentWrapper {
    height: 100%;
    padding: var(--padding);
}

.header {
    border-bottom: 1px solid var(--border-on-primary);
    padding-bottom: var(--padding);
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--text-secondary);
    font-size: 15px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.closeBtn:hover {
    background-color: var(--background-primary-hover);
    border-color: var(--border-on-primary);
    fill: var(--text-primary);
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.title {
    font-size: 0.9rem;
    color: var(--text-primary);
}

.titleCaret {
    font-size: 0.8rem;
    fill: var(--text-primary);
}

.content {
    flex: 1;
    display: grid;
    min-height: 0;
    overflow-y: auto;
    margin-top: var(--padding);
}