.context-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    border-radius: 2px;
}

.context-menu-item:hover:not(.context-menu-item.disabled):not(.context-menu-item.separator) {
    background-color: var(--primary-500);
    color: var(--gray-0);
}

.context-menu-item:hover:not(.context-menu-item.disabled):not(.context-menu-item.separator) .context-menu-item-icon {
    fill: var(--gray-0);
}

.context-menu-item-icon {
    fill: var(--text-primary);
    margin-right: 6px;
}

.context-menu-item.separator {
    cursor: default;
    border-top: 1px solid var(--background-secondary);
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.disabled {
    cursor: default;
    color: var(--text-disabled);
}

.disabled .context-menu-item-icon {
    fill: var(--text-disabled);
}

.primary {
    color: var(--gray-0);
    background-color: var(--primary-500);
}

.primary .context-menu-item-icon {
    fill: var(--gray-0);
}

.primary:hover {
    background-color: var(--primary-560) !important;
}

.danger {
    color: var(--red);
}

.danger .context-menu-item-icon {
    fill: var(--red);
}

.danger:hover {
    background-color: var(--red) !important;
}

.submenu-chevron {
    fill: var(--text-primary);
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}