.colorPicker {
    width: 35px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--border-on-primary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.disabled {
    cursor: default;
}

.primary {
    border-color: var(--border-on-primary);
}

.secondary {
    border-color: var(--border-on-secondary);
}

.tertiary {
    border-color: var(--border-on-tertiary);
}