input {
    height: 20px;
    min-height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    border-radius: 6px;
    background-color: var(--background-tertiary);
    transition: background-color 500ms ease;
    outline: none !important;
    color: var(--text-primary);
}

input:disabled {
    background-color: var(--background-secondary);
    color: var(--text-disabled);
}

input:read-only {
    background-color: var(--gray-645);
    color: var(--text-secondary);
}

input::placeholder {
    color: var(--gray-330);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}