.spinner {
    width: fit-content;
    position: relative;
}

.spinner .input {
    margin: 0;
    text-align: center;
}

.spinner-icon {
    position: absolute;
    fill: var(--text-secondary);
    cursor: pointer;
    user-select: none;
    transition: fill 200ms ease;
}

.spinner-icon:hover {
    fill: var(--text-primary);
}

.spinner-subtract {
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.spinner-add {
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}