.titlebar {
    width: 100%;
    height: var(--titlebar-height);
    position: fixed;
    padding-left: 5px;
    background-color: var(--background-tertiary);
    user-select: none;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    z-index: 9000;
}

.leftData {
    height: var(--titlebar-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 5px;
    gap: 15px;
    -webkit-app-region: no-drag;
}

.windowTitle {
    font-weight: 900;
    font-size: 9pt;
    line-height: 9pt;
    color: var(--text-disabled);
}

.windowControls {
    display: flex;
}

.last {
    padding-right: 10px !important;
}