svg {
    /*justify-self: flex-end;*/
    /*margin-left: auto;*/
    fill: var(--text-primary);
    cursor: pointer;
    transition: fill 100ms ease;
}

svg:hover {
    fill: var(--text-primary-hover);
}

.color-picker {
    justify-self: flex-end;
    margin-left: auto;
}