.spinner {
    width: fit-content;
    position: relative;
}

.spinnerInput {
    margin: 0;
    text-align: center;
}

.spinnerIcon {
    position: absolute;
    fill: var(--text-secondary);
    cursor: pointer;
    user-select: none;
    transition: fill 200ms ease;
}

.spinnerIcon:hover {
    fill: var(--text-primary);
}

.subtract {
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.add {
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}