:root {
    --height: 8px;
    --progress-size: 26px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: var(--height);
    border-radius: 1000px;
    background-color: var(--background-tertiary);
    user-select: none;
}

.progress-bar:hover .progress {
    background-color: var(--primary-530);
}

.progress {
    height: 100%;
    border-radius: 1000px;
    background-color: var(--primary-500);
    transition: background-color 100ms ease;
}

.cursor {
    position: absolute;
    width: calc(var(--height) + 2px);
    height: calc(var(--height) + 2px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--text-primary);
}

.cursor-progress {
    position: absolute;
    width: var(--progress-size);
    height: var(--progress-size);
    top: 0;
    font-size: 0.65rem;
    font-weight: 500;
    line-height: var(--progress-size);
    text-align: center;
    color: var(--text-primary);
    transform: translateY(calc(-100% - var(--height) - 3px));
    transition: opacity 100ms ease;
}

.cursor-progress::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--progress-size);
    height: var(--progress-size);
    background-color: var(--primary-500);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

.progress-bar.disabled .progress {
    background-color: var(--gray-400);
}

.progress-bar.disabled .cursor {
    background-color: var(--gray-300);
}